.wrapper {
  width: 90vw;
  min-width: 200px;
  max-width: 800px;
}

p {
  margin: 0px;
}

.delete-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}
ul {
  padding: 0px;
}
.list-row {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 20px;
}
.list-title {
  flex-basis: 60%;
  text-align: start;
}
.list-title-completed {
  flex-basis: 60%;
  text-align: start;
  text-decoration: line-through;
}

.list-status {
  flex-basis: auto;
}

input[type='checkbox'] {
  flex-basis: 54px;
  margin-right: 12px;
  padding: 0;
  transform: scale(1.8);
}
