.wrapper {
  width: 90vw;
  min-width: 200px;
  max-width: 800px;
  position: relative;
  top: 0px;
}

p {
  margin: 0px;
}

.delete-button {
  margin-left: 24px;
  padding: 8px 20px;
}

.fa-trash-size {
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0px;
}
.list-row {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  font-size: 20px;
}
.list-parts {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-title {
  flex-basis: 60%;
  text-align: start;
}
.list-title-completed {
  flex-basis: 60%;
  text-align: start;
  text-decoration: line-through;
  color: gray;
}

.list-status {
  flex-basis: auto;
}

.list-status :hover {
  color: red;
}

.list-description {
  font-size: 12px;
  color: gray;
}
/* input[type='checkbox'] {
  flex-basis: 54px;
  margin-right: 12px;
  padding: 0;
  transform: scale(1.8);
} */
