.wrapper {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f2ead3;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0 auto;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  max-width: 800px;
}
.close-button {
  text-align: right;
  margin-right: 20px;
}
.form-label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

p {
  margin-bottom: 0px;
  text-align: left;
}

.required-label {
  width: 18px;
  display: inline-block;
  text-align: center;
  color: red;
  font-size: 12px;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 8px;
  height: 24px;
  width: 60%;
  min-width: 250px;
  font-size: 14px;
}
.form-textarea {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 8px;
  width: 90%;
  min-width: 250px;
  font-size: 14px;
  /* なぜかfont設定がここだけはずれるので追加 */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.form-submit {
  display: block;
  border: 1px solid #3f2305;
  border-radius: 12px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: 7%;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100px;
  /* display: block; */
  background: #3f2305;
  color: #fff;
  font-size: 18px;
}

.form-submit:hover {
  border: 1px solid #3f2305;
  background: #cc9966;
  cursor: pointer;
  color: black;
}
.form-submit:disabled {
  border: 1px solid #3f2305;
  background: lightGray;
  cursor: default;
  color: white;
  opacity: 1;
}
.error {
  display: inline-block;
  color: red;
  margin-left: 10px;
  font-size: 16px;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  .form-label {
    margin-left: 3vw;
  }
  .form-input {
    min-width: 100px;
    font-size: 16px;
  }
  .form-textarea {
    min-width: 100px;
    font-size: 16px;
  }
  .form-submit {
    width: 80px;
    font-size: 14px;
  }
}
