.wrapper {
  width: 100%;
  /* position: fixed; */
  /* top: 0px;
  /* left: 0px; */
}

.container {
  margin-top: 48px;
}

h1 {
  text-align: left;
  position: fixed;
  top: 0px;
}

.add-task-button {
  width: 100%;
  border: none;
  text-align: center;
  border: 1px solid brown;
}

.box {
  position: relative;
  opacity: 0;
}

span {
  margin-left: 8px;
}
